<div class="inventory-container">
    <div class="top">
        <h1>Your Inventory</h1>
    </div>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="All Ingridients">

            <div class="inventory-items">
                <div class="item" *ngFor="let item of inventory">
                    <div class="image eye"></div>
                    <div class="info">
                        <h2>{{item.name}}</h2>
                        <div class="left">
                            <p>{{item.category}}</p>
                            <p class="green amount" *ngIf="item.quantity >= 4">{{item.quantity}} available</p>
                            <p class="orange amount" *ngIf="item.quantity == 1 || item.quantity == 2 || item.quantity == 3">{{item.quantity}} available</p>
                            <p class="red amount" *ngIf="item.quantity == 0">No inventory</p>
                        </div>

                        <label>Update qty</label>
                        <input class="counter" type="number" name="quantity" placeholder="0" type="number" [value]="item.quantity" (change)="detectQuantityChange($event)">

                        <button mat-raised-button class="btn" color="primary" (click)="updateQuantity(item._id!)">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="White Magic">
            <div class="inventory-items">
                <div class="item" *ngFor="let item of inventory | filter: 'White Magic': 'category'">
                    <div class="image eye"></div>
                    <div class="info">
                        <h2>{{item.name}}</h2>
                        <div class="left">
                            <p>{{item.category}}</p>
                            <p class="green">{{item.quantity}} available</p>
                        </div>

                        <label>Update qty</label>
                        <input class="counter" type="number" name="quantity" placeholder="0" type="number" [value]="item.quantity" (change)="detectQuantityChange($event)">

                        <button mat-raised-button class="btn" color="primary" (click)="updateQuantity(item._id!)">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    
    
        <mat-tab label="Dark Magic">
            <div class="inventory-items">
                <div class="item" *ngFor="let item of inventory | filter: 'Dark Magic': 'category'">
                    <div class="image eye"></div>
                    <div class="info">
                        <h2>{{item.name}}</h2>
                        <div class="left">
                            <p>{{item.category}}</p>
                            <p class="green">{{item.quantity}} available</p>
                        </div>

                        <label>Update qty</label>
                        <input class="counter" type="number" name="quantity" placeholder="0" type="number" [value]="item.quantity" (change)="detectQuantityChange($event)">

                        <button mat-raised-button class="btn" color="primary" (click)="updateQuantity(item._id!)">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>
        
        <mat-tab label="Potions">
            <div class="inventory-items">
                <div class="item" *ngFor="let item of inventory | filter: 'Potions': 'category'">
                    <div class="image eye"></div>
                    <div class="info">
                        <h2>{{item.name}}</h2>
                        <div class="left">
                            <p>{{item.category}}</p>
                            <p class="green">{{item.quantity}} available</p>
                        </div>

                        <label>Update qty</label>
                        <input class="counter" type="number" name="quantity" placeholder="0" type="number" [value]="item.quantity" (change)="detectQuantityChange($event)">

                        <button mat-raised-button class="btn" color="primary" (click)="updateQuantity(item._id!)">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
