<div class="inventory-container">
    <div class="top">
        <h1>Your Inventory</h1>
    </div>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="All Ingridients">

            <div class="inventory-items">
                <div class="item" *ngFor="let item of inventory">
                    <div class="image eye"></div>
                    <div class="info">
                        <div class="left">
                            <h2>{{item.name}}</h2>
                            <p>{{item.category}}</p>
                            <p>{{item.quantity}} available</p>
                        </div>

                        <mat-form-field class="counter" color="primary">
                            <mat-label> Update qty</mat-label>
                            <input matInput placeholder="0" type="number" [value]="item.quantity" (change)="detectQuantityChange($event)">
                        </mat-form-field>
                        <button mat-raised-button class="btn" color="primary" (click)="updateQuantity(item._id!)">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="White Magic">
            <div class="inventory-items">
                <div class="item">
                    <div class="image raven"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 available</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
    
                <div class="item">
                    <div class="image octopus"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 available</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    
    
        <mat-tab label="Dark Magic">
            <div class="inventory-items">
                <div class="item">
                    <div class="image shrimp"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 available</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
    
                <div class="item">
                    <div class="image gold"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 available</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>
        
        <mat-tab label="Potions">
            <div class="inventory-items">
                <div class="item">
                    <div class="image potion"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 available</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
    
                <div class="item">
                    <div class="image potion1"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 available</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
