h1{
    margin-left: 1%;
    margin-bottom: 2%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Press Start 2P';   
}

h2{
    margin-bottom: 0;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin-bottom: 10px;

}

p{
    margin: 0;
    color: white;
    font-family: 'Courier Prime', monospace;
}

.inventory-items{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1%;
}

.item {
    width: 18%;
    min-width: 15%;
    height: 460px;
    margin: 1%;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(103, 58, 183, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    font-family: 'Courier Prime', monospace;
}

.image{
    width: 100%;
    height: 250px;
}

img{
    width: 80%;
    margin-left: 10%;
}

img:hover{
    width: 85%;
    transition: all .5s ease;
    margin-top: -2%;
    margin-left: 8%;
}

.info{
    border-top: 1.5px solid rgba(103, 58, 183, 1);
    width: 100%;
    padding: 5%;
    height: 210px;
    background: rgba(103, 58, 183, 0.40);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}

.left{
    padding-top: 20px;
    width: 65%;
    float: left;
}

label{
    color: #2b0c61;
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
}

.counter{
    margin-top: 1px !important;
    width: 35%;
    height: 50px;
    padding: 3%;
    background: transparent;
    border: 2px solid #38107d;
    float: left;
    border-radius: 10px;
    outline: none;
    background: rgba(103, 58, 183, 0.80);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    color: rgb(225, 225, 225);
    font-family: 'Courier Prime', monospace;
}

.green{
    color: rgb(22, 189, 22);
}

.red{
    color: rgb(242, 56, 56);
}

.orange{
    color: orange;
}

.potion-item{
    width: 23%;
    min-width: 15%;
    height: 550px;
    margin: 1%;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(103, 58, 183, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    font-family: 'Courier Prime', monospace;
}

.potion-image{
    width: 100%;
    height: 280px;
}

.potion-info{
    border-top: 1.5px solid rgba(103, 58, 183, 1);
    width: 100%;
    padding: 5%;
    height: 270px;
    background: rgba(103, 58, 183, 0.40);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}

.recipe-heading{
    margin: 0;
}

.description{
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filled{
    font-size: 18px;
    margin-top: 20px !important;
    width: 100%;
    font-family: 'Courier Prime', monospace;
    padding: 10px 30px;
    color: white;
    background-color: #673ab7;
    border: #673ab7 2px solid;
    border-radius: 10px;
    margin-top: 25px;
    font-family: 'Courier Prime', monospace;
    margin: 0 auto;
    cursor: pointer;
}

.filled:hover{
    background-color: #5d34a4;
    border: #5d34a4 2px solid;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}