<div class="inventory-container">
    <div class="top">
        <h1>Your Inventory</h1>
    </div>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="All Ingridients">

            <div class="inventory-items">
                <div class="item">
                    <div class="image eye"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>

                <div class="item">
                    <div class="image mosquito"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>

                <div class="item">
                    <div class="image octopus"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>

                <div class="item">
                    <div class="image gold"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>

                <div class="item">
                    <div class="image dragonTail"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>

                <div class="item">
                    <div class="image raven"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>

                <div class="item">
                    <div class="image shrimp"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="White Magic">
            <div class="inventory-items">
                <div class="item">
                    <div class="image raven"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
    
                <div class="item">
                    <div class="image octopus"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    
    
        <mat-tab label="Dark Magic">
            <div class="inventory-items">
                <div class="item">
                    <div class="image shrimp"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
    
                <div class="item">
                    <div class="image gold"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>
        
        <mat-tab label="Potions">
            <div class="inventory-items">
                <div class="item">
                    <div class="image potion"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
    
                <div class="item">
                    <div class="image potion1"></div>
                    <div class="info">
                        <h2>Item Name</h2>
                        <p>Item Category</p>
                        <p>1 in stock</p>
                        <button mat-raised-button class="btn" color="primary">Update quantity</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
