h1{
    margin-left: 1%;
    margin-bottom: 2%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Press Start 2P';   
}

h2{
    margin-bottom: 0;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin-bottom: 10px;

}

p{
    margin: 0;
    color: white;
    font-family: 'Courier Prime', monospace;
}

.inventory-items{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1%;
}

.item {
    width: 18%;
    min-width: 15%;
    height: 460px;
    margin: 1%;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(103, 58, 183, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    /* border: 1.5px solid rgba(103, 58, 183, 1); */
    font-family: 'Courier Prime', monospace;
}

.image{
    /* background-color: rgba(103, 58, 183, 0.40);
    border-radius: 50%;
    border: 1.5px solid rgba(103, 58, 183, 1); */
    width: 100%;
    height: 250px;
}

.eye{
    background-image: url('../images/eyeball.png');
    background-position: center;
    background-size: cover;
}

.potion{
    background-image: url('../images/potion1.png');
    background-position: center;
    background-size: cover;
}

.potion1{
    background-image: url('../images/potion2.png');
    background-position: center;
    background-size: cover;
}

.mosquito{
    background-image: url('../images/mosquito.png');
    background-position: center;
    background-size: cover;
}

.octopus{
    background-image: url('../images/octopus.png');
    background-position: center;
    background-size: cover;
}

.gold{
    background-image: url('../images/gold.png');
    background-position: center;
    background-size: cover;
}

.dragonTail{
    background-image: url('../images/dragontail.png');
    background-position: center;
    background-size: cover;
}

.raven{
    background-image: url('../images/raven.png');
    background-position: center;
    background-size: cover;
}

.shrimp{
    background-image: url('../images/shrimp.png');
    background-position: center;
    background-size: cover;
}

.info{
    border-top: 1.5px solid rgba(103, 58, 183, 1);
    width: 100%;
    padding: 5%;
    height: 210px;
    background: rgba(103, 58, 183, 0.40);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}

.left{
    padding-top: 20px;
    width: 65%;
    float: left;
}

label{
    color: #2b0c61;
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
}

.counter{
    margin-top: 1px !important;
    width: 35%;
    height: 50px;
    padding: 3%;
    background: transparent;
    border: 2px solid #38107d;
    float: left;
    border-radius: 10px;
    outline: none;
    background: rgba(103, 58, 183, 0.80);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    color: rgb(225, 225, 225);
    font-family: 'Courier Prime', monospace;
}

.btn{
    margin-top: 25px;
    width: 100%;
    font-family: 'Courier Prime', monospace;
}

.green{
    color: rgb(22, 189, 22);
}

/* #673ab7 */