<div class="modalBackground">
    <h1>Verify yourself before crafting.</h1>

    <div class="inputs">
        <input matInput placeholder="Username..." [formControl]="username" type="text">
        <input placeholder="Verification code..." [formControl]="password" type="password">
    </div>

    <div class="buttons">
        <button (click)="checkVefification()" mat-dialog-close class="btn stroked close">Close</button>
        <button (click)="checkVefification()" mat-dialog-close class="btn filled">Login</button>
    </div>
</div>
