/* TODO: Magnify images on hover */

.container{
    width: 100%;
    height: 90vh;
}

.top{
    width: 100%;
    height: 10%;
}

.middle{
    width: 100%;
    height: 75%;
}

.bottom{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

h1{
    color: white;
    font-weight: bold;
    font-size: 30px;
    float: left;
    margin-left: 1%;
    font-family: 'Press Start 2P';  
}

select{
    background-color: #673ab7;
    color: white;
    padding: 1%;
    border-radius: 10px;
    outline: none;
    float: right;
    border: none;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}

.left-container{
    padding-left: 30px;
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
}

.middle-container{
    width: 40%;
    height: 100%;
    float: left;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}

.potion-block{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    /* From https://css.glass */
    background: rgba(103, 58, 183, 0.29);
    border-radius: 60px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1.5px solid rgba(103, 58, 183, 1);
    /* background-image: url('../images/block.png'); */
    background-position: center;
    background-size: cover;
}

.potion-block img{
    width: 100%;
}

.potion-block img:hover{
    width: 105%;
    transition: all .5s ease;
    margin-left: -2%;
    margin-top: -2%;
}

.right-container{
    padding-right: 30px;
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-between;
}

.ingredient-block{
    width: 150px;
    height: 150px;
    margin: 30px;
    /* From https://css.glass */
    background: rgba(103, 58, 183, 0.29);
    border-radius: 19px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1.5px solid rgba(103, 58, 183, 1);
}

.ingredient-block img{
    width: 100%;
}

.ingredient-block img:hover{
    width: 105%;
    transition: all .5s ease;
    margin-left: -1.5%;
}

.bottom-container{
    width: 100%;
    display: flex;
    justify-content: center;
}


.craft-btn{
    border-radius: 10px;
    width: 20%;
    height: 70px;
    padding: 20px;
    background-color: #1b1b1b;
    text-shadow:
    0 0 42px #673ab7,
    0 0 82px #673ab7,
    0 0 92px #673ab7;
    text-align: center;
    box-shadow:
    0 0 .2rem #fff,
    0 0 2rem #673ab7, 
    0 0 0.8rem #673ab7, 
    0 0 2.8rem #673ab7, inset 
    0 0 1.3rem #1b1b1b;
    font-family: 'Courier Prime', monospace;
}

.no-craft-btn{
    border-radius: 10px;
    width: 20%;
    height: 70px;
    padding: 20px;
    background-color: #1b1b1b;
    text-shadow:
    0 0 42px #1b1b1b,
    0 0 82px #1b1b1b,
    0 0 92px #1b1b1b;
    text-align: center;
    box-shadow:
    0 0 .2rem #fff,
    0 0 2.8rem #1b1b1b, inset 
    0 0 1.3rem #1b1b1b;
    font-family: 'Courier Prime', monospace;
    color: #8b8b8b;
    cursor: not-allowed;
}

.craft-btn:hover{
    background-color: #252525;
}

p{
    margin-top: 8px;
    position: absolute;
    margin-left: 72%;
}

.green{
    color: rgb(22, 189, 22);
}

.red{
    color: rgb(242, 56, 56);
}

