<div class="container">

    <div class="top">
        <h1>Get Crafting {{username | uppercase }}!</h1>
        <br>
        <select (change)="recipeChange()" [(ngModel)]="selectedRecipe">
            <!-- <option value="select recipe" selected>Select recipe</option> -->
            <option *ngFor="let recipe of recipes" value="{{recipe.name}}">{{recipe.name}}</option>
        </select>
    </div>

    <div class="middle">
        <div class="left-container">
            <div class="ingredient-block">
                <div *ngIf="selectedRecipe">
                    <p *ngIf="ingridientOneAmount! >= ingridientOneAmountNeeded!" class="green">{{ingridientOneAmount}} / {{ingridientOneAmountNeeded}}</p>
                    <p *ngIf="ingridientOneAmount! < ingridientOneAmountNeeded!" class="red">{{ingridientOneAmount}} / {{ingridientOneAmountNeeded}}</p>
                </div>
                <img src="{{ingridientOneImage || '../../assets/block.png'}}" alt="ingridient required">
            </div>
            <div class="ingredient-block nan" >
                <div  *ngIf="selectedRecipe">
                    <p *ngIf="ingridientTwoAmount! >= ingridientTwoAmountNeeded!" class="green">{{ingridientTwoAmount}} / {{ingridientTwoAmountNeeded}}</p>
                    <p *ngIf="ingridientTwoAmount! < ingridientTwoAmountNeeded!" class="red">{{ingridientTwoAmount}} / {{ingridientTwoAmountNeeded}}</p>
                </div>
                <img src="{{ingridientTwoImage || '../../assets/block.png'}}" alt="ingridient required">
            </div>
            <div class="ingredient-block nan">
                <div  *ngIf="selectedRecipe">
                    <p *ngIf="ingridientThreeAmount! >= ingridientThreeAmountNeeded!" class="green">{{ingridientThreeAmount}} / {{ingridientThreeAmountNeeded}}</p>
                    <p *ngIf="ingridientThreeAmount! < ingridientThreeAmountNeeded!" class="red">{{ingridientThreeAmount}} / {{ingridientThreeAmountNeeded}}</p>
                </div>
                <img src="{{ingridientThreeImage || '../../assets/block.png'}}" alt="ingridient required">
            </div>
        </div>
    
        <div class="middle-container">
            <div class="potion-block">
                <img src="{{recipeImage || '../../assets/block.png'}}" alt="image of potion">
            </div>
        </div>
    
        <div class="right-container">
            <div class="ingredient-block nan">
                <div  *ngIf="selectedRecipe">
                    <p *ngIf="ingridientFourAmount! >= ingridientFourAmountNeeded!" class="green">{{ingridientFourAmount}} / {{ingridientFourAmountNeeded}}</p>
                    <p *ngIf="ingridientFourAmount! < ingridientFourAmountNeeded!" class="red">{{ingridientFourAmount}} / {{ingridientFourAmountNeeded}}</p>
                </div>
                <img src="{{ingridientFourImage || '../../assets/block.png'}}" alt="ingridient required">
            </div>
            <div class="ingredient-block nan">
                <div  *ngIf="selectedRecipe">
                    <p *ngIf="ingridientFiveAmount! >= ingridientFiveAmountNeeded!" class="green">{{ingridientFiveAmount}} / {{ingridientFiveAmountNeeded}}</p>
                    <p *ngIf="ingridientFiveAmount! < ingridientFiveAmountNeeded!" class="red">{{ingridientFiveAmount}} / {{ingridientFiveAmountNeeded}}</p>
                </div>
                <img src="{{ingridientFiveImage || '../../assets/block.png'}}" alt="ingridient required">
            </div>
            <div class="ingredient-block nan">
                <div  *ngIf="selectedRecipe">
                    <p *ngIf="ingridientSixAmount! >= ingridientSixAmountNeeded!" class="green">{{ingridientSixAmount}} / {{ingridientSixAmountNeeded}}</p>
                    <p *ngIf="ingridientSixAmount! < ingridientSixAmountNeeded!" class="red">{{ingridientSixAmount}} / {{ingridientSixAmountNeeded}}</p>
                </div>
                <img src="{{ingridientSixImage || '../../assets/block.png'}}" alt="ingridient required">
            </div>
        </div>
    </div>

    <div class="bottom" (click)="craftRecipe(filtered._id!)" *ngIf="craftable">
        <h1 class="craft-btn" *ngIf="!isCrafting">Craft Potion</h1>
        <h1 class="craft-btn" *ngIf="isCrafting">Crafting...</h1>
    </div>
    <div class="bottom" (click)="nocraft()" *ngIf="!craftable && selectedRecipe">
        <h1 class="no-craft-btn">Craft Potion</h1> 
    </div>
</div>
