<div class="container">
    <div class="top">
        <h1>Craft your potion</h1>
        <select>
            <option>Select your potion</option>
        </select>
    </div>

    <div class="left-container">
        <div class="ingridient-block nan" matTooltip="Please select an ingridient"></div>
        <div class="ingridient-block nan"  matTooltip="Please select an ingridient"></div>
        <div class="ingridient-block nan" matTooltip="Please select an ingridient"></div>
    </div>

    <div class="middle-container"></div>

    <div class="right-container">
        <div class="ingridient-block nan" matTooltip="Please select an ingridient"></div>
        <div class="ingridient-block nan" matTooltip="Please select an ingridient"></div>
        <div class="ingridient-block nan" matTooltip="Please select an ingridient"></div>
    </div>

    <!-- <i class="fa-regular fa-block-question"></i> -->
    <div class="bottom-container" matTooltip="These are the ingridients needed for the potion" color="primary">
        <div class="ingridient-block gold"><p>1/1</p></div>
        <div class="ingridient-block shrimp"><p class="red">0/1</p></div>
        <div class="ingridient-block raven"><p>3/1</p></div>
        <div class="ingridient-block eye"><p>2/1</p></div>
        <div class="ingridient-block mosquito"><p class="red">0/1</p></div>
        <div class="ingridient-block dragonTail"><p>5/1</p></div>
    </div>
</div>
