.sidenav{
    background: #1b1b1b;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    width: 5%;
    height: 100vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo-container{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* width: 100%; */
    margin-bottom: 580px;
}

.logo{
    background-color: #673ab7;
    color: white;
    text-align: center;
    width: 65px;
    min-width: 65px;
    height: 65px;
    border-radius: 10px;
    padding: 9px;
    border: none;
    cursor: pointer;
    background-image: url('../images/logo1.png');
    background-size: contain;
    background-position: center;
    margin-right: 10px;
}

h1{
    font-family: 'Press Start 2P';
    font-size: 15px;
}

.sidenav-collapsed{
    width: 15%;
}

h1{
    margin: 0;
    font-weight: bold;
    color: #fff;
}

.btn-close{
    background-color: transparent;
    color: white;
    text-align: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-close:hover{
    background-color: transparent;
    color: #673ab7 !important;
    text-align: center;
    font-weight: bold;
}

.fa-times{
    color: #fff;
    font-size: 24px;
}

.sidenav-nav{
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
}

.nav-item{
    width: 100%;
    margin-bottom: 25px;
}

.nav-link{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    height: 3rem;
    color: #fff;
    text-decoration: none;
    transition: all .3s ease;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: #673ab7;
}

.link-icon{
    font-size: 22px;
    width: 50px;
    min-width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px !important;
}

.link-text{
    margin: 0;
    margin-left: 15%;
    margin-top: 14px;
    font-size: 20px;
    font-family: 'Courier Prime', monospace;
}

.logout{
    margin-top: 30px;
    /* text-align: left !important; */
    color: #673ab7;
    font-size: 20px;
    font-family: 'Courier Prime', monospace;
}

.fa-home, .fa-book, .fa-flask, .fa-arrow-right-from-bracket{
    margin-left: 3px;
    margin-top: 18px;
    font-size: 30px;
}

.active{
    background-color: #673ab7;
}