<div class="container">
    <div class="bg-img">
        <div class="intro-text">
            <h1>Welcome to </h1>
            <h1>The Wicca House</h1>

            <h2>Here you will be able to fulfill all your wicca needs from light magic to dark magic! Find and collect all the magical ingridients needed to create your very own potions!</h2>
            <a routerLink="../crafting"><button class="btn filled">Start Crafting!</button></a>
        </div>

        <div class="more-info">
            <div class="item">
                <div class="item-icon fal fa-book"></div>
                <p class="item-text">Browse through inventory</p>
            </div>

            <div class="item">
                <div class="item-icon fal fa-flask"></div>
                <p class="item-text">Craft Potions</p>
            </div>

            <div class="item">
                <div class="item-icon fal fa-book"></div>
                <p class="item-text">Browse through spells</p>
            </div>
        </div>
    </div>
</div>