.bg-img{
    width: 105.7%;
    margin-left: -3%;
    height: 101vh;
    background-image: url('../images/bg2.jpg') !important;
    background-size: cover;
    background-position: center;
    z-index: 3;
    margin-top: -3%;
    padding: 5%;
    padding-top: 5%;
    padding-right: 13%;
    position:fixed;
}

.intro-text{
    width: 40%;
    /* background-color: aqua; */
    height: auto;
    margin-top: 15%;
}

.item{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

.more-info{
    margin-top: 10%;
    padding: 1%;
    width: 40%;
    height: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* From https://css.glass */
    background: rgba(103, 58, 183, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    /* border: 1.5px solid rgba(103, 58, 183, 1); */
    float: right;
}

.fa-book, .fa-flask{
    font-size: 40px;
    margin-bottom: 1%;
}

.btn{
    margin-left: 4%;
    margin-top: 2%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier Prime', monospace;
}

h1{
    color: white;
    font-size: 35px;
    margin-left: 4%;
    margin-bottom: 5%;
    font-weight: bolder;
    font-family: 'Press Start 2P';                                            
}

a{
    text-decoration: none;
    color: white;
}

h2{
    font-weight: 100;
    margin-left: 4%;
    margin-top: 7%;
    color: white;
    font-family: 'Courier Prime', monospace;
}

p{
    margin-top: 25px;
    font-family: 'Courier Prime', monospace;
}

.stroked{
    font-size: 18px;
    padding: 10px 30px;
    color: #38107d;
    background-color: rgba(103, 58, 183, 0.50);
    border: #38107d 2px solid;
    border-radius: 10px;
    margin-top: 25px;
    font-family: 'Courier Prime', monospace;
    margin: 0 auto;
}

.filled{
    font-size: 18px;
    margin-left: 4% !important;
    padding: 10px 30px;
    color: white;
    background-color: #673ab7;
    border: #673ab7 2px solid;
    border-radius: 10px;
    margin-top: 25px;
    font-family: 'Courier Prime', monospace;
    margin: 0 auto;
}

.stroked:hover{
    background-color: rgba(103, 58, 183, 0.80);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.filled:hover{
    background-color: #5d34a4;
    border: #5d34a4 2px solid;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}